.App {
  text-align: center;
  min-height: 100vh;
}

/* iframe {
  width: 100%;
  min-height: 50vh;
  border: 2px solid silver;
  border-radius: 8px;
} */

/* Header Styling */
.App-Header {
  padding: 50px 18vw 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid goldenrod;
}

.Header-Navbar {
  display: flex;
}

.Header-Link {
  padding: 5px 10px;
  font-size: 1.75em;
  color: #000;
  text-decoration: unset;
}

.Header-Link:hover {
  color: goldenrod;
}

.Header-Link-Active {
  color: dimgray;
}

/* Main & Account Styling */

.Subheader-Nav, .Footer-Nav {
  margin: 0;
  padding: 0 18vw;
  display: flex;
  background-color: #FAFAFA;
}

.Subheader-Nav {
  justify-content: center;
}

.Footer-Nav {
  justify-content: space-around;
}

.Subheader-Nav-Link, .Footer-Nav-Link {
  padding: 5px 10px;
  color: darkblue;
  background-color: transparent;
  border: none;
  list-style: none;
}

.Subheader-Nav-Link:hover, .Footer-Nav-Link:hover {
  color: dimgray;
  cursor: pointer;
}

.Subheader-Nav-Link-Active {
  color: goldenrod;
}

.Subheader-Label, .Footer-Label {
  display: flex;
}

.Subheader-Select, .Footer-Input {
  width: 45px;
  margin: 0 5px;
  text-align: center;
}

select:focus, input:focus {
  border: none;
}

/* Cards Component Styling */
.App-Cards {
  padding: 0 15vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Card {
  margin: 20px;
  width: 100px;
  height: 250px;
}

/* Table Component Styling */
table {
  padding: 0 15vw;
  width: 100vw;
  min-height: 70vh;
  background-color: #eaeaea;
}

th, td {
  padding: 3px 10px;
  vertical-align: top;
  text-align: left;
  font-size: 0.8em;
}