.App {
  text-align: center;
  min-height: 100vh;
}

/* iframe {
  width: 100%;
  min-height: 50vh;
  border: 2px solid silver;
  border-radius: 8px;
} */

/* Header Styling */
.App-Header {
  padding: 50px 18vw 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid goldenrod;
}

.Header-Navbar {
  display: flex;
}

.Header-Link {
  padding: 5px 10px;
  font-size: 1.75em;
  color: #000;
  text-decoration: unset;
}

.Header-Link:hover {
  color: goldenrod;
}

.Header-Link-Active {
  color: dimgray;
}

/* Main & Account Styling */

.Subheader-Nav, .Footer-Nav {
  margin: 0;
  padding: 0 20vw;
  display: flex;
  background-color: #FAFAFA;
}

.Subheader-Nav-Link, .Footer-Nav-Link {
  padding: 5px 10px;
  color: darkblue;
  list-style: none;
}

.Subheader-Nav-Link:hover, .Footer-Nav-Link:hover {
  color: dimgray;
  cursor: pointer;
}

.Subheader-Nav-Link-Active, .Footer-Nav-Link-Active {
  color: goldenrod;
}

.Subheader-Count {
  display: flex;
}

select {
  margin-left: 5px;
}

select:focus {
  border: none;
}

select:active {
  border: none;
}

/* Table Component Styling */
.Table {
  width: 100vw;
}

table {
  width: 100%;
  background-color: #eaeaea;
}

th, td {
  padding: 3px 10px;
  vertical-align: top;
  text-align: left;
  font-size: 0.8em;
}