// Override default variables before the import
$color-pri: #6704F3;
$color-sec: #F48704;
$color-alt: #333333;

$theme-colors: (
    "primary": $color-pri,
    "secondary": $color-sec,
    "alt-color": $color-alt
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";