@import './custom.scss';

body {
  margin: 0;
  font-size: 14pt;
  font-family: 'Mukta', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: lightgrey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-Loading, .App-Login, .App-Error {
  width: 100vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* iframe {
  width: 100%;
  min-height: 50vh;
  border: 2px solid silver;
  border-radius: 8px;
} */

/* Header and Table Footer Styling */
.App-Header {
  border-bottom: 2px solid goldenrod;
}

.Header-Main {
  height: 125px;
  margin: 0 18vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.Header-Subheader, .Footer-Nav {
  background-color: #FAFAFA;
}

.Header-Nav {
  display: flex;
}
.Subheader-Nav, .Footer-Nav {
  margin: 0;
  padding: 0 18vw;
  display: flex;
}
.Subheader-Nav {
  justify-content: center;
}
.Footer-Nav {
  justify-content: space-around;
}

.Header-Nav-Dropdown {
  position: fixed;
  top: 125px;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}

.Header-Link {
  padding: 5px 10px;
  font-size: 1.75em;
  text-decoration: unset;
  color: #000;
  background-color: transparent;
  border: none;
}
.Header-Nav-Dropdown-Link {
  padding: 5px 10px;
  font-size: 1.5em;
  color: #000;
  text-decoration: unset;
}
.Subheader-Nav-Link, .Footer-Nav-Link {
  padding: 5px 10px;
  color: #00008b;
  background-color: transparent;
  border: none;
  list-style: none;
}

.Header-Link:hover, .Header-Nav-Dropdown-Link:hover {
  color: #daa520;
}
.Subheader-Nav-Link:hover, .Footer-Nav-Link:hover {
  color: dimgray;
  cursor: pointer;
}

.Header-Link-Active, .Header-Nav-Dropdown-Link-Active {
  color: dimgray;
}
.Subheader-Nav-Link-Active {
  color: #daa520;
}

.Subheader-Label, .Footer-Label {
  display: flex;
}
.Subheader-Select, .Footer-Input {
  width: 45px;
  margin: 0 5px;
  text-align: center;
}
.Subheader:focus, .Footer-Input:focus {
  border: none;
}


/* Cards Component Styling */
.App-Cards {
  padding: 0 15vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Card {
  margin: 20px;
  min-width: 250px;
  height: 100px;
  background-color: #eaeaea;
  border-radius: 10px;
}

.Card:hover {
  cursor: pointer;
}

/* Table Component Styling */
.Table {
  width: 100vw;
  min-height: 70vh;
  background-color: #EAEAEA;
}

table {
  padding: 0 15vw;
}

th, td {
  padding: 3px 10px;
  vertical-align: top;
  text-align: left;
  font-size: 0.8em;
}